@import "bootstrap";


footer {
margin-top:45px;
padding-top:5px;
border-top:1pxsolid#eaeaea;
color:#999;
}
footer a{
color:#555;
}
footer a:hover {
color:#222;
}
footer small{
float:left;
}